body {
    background-color: azure;
    border: 1px solid black;
    /* border */
    /* padding: 10rem; */
}

.main-div {
    margin: 10px;
    background-color: aqua;
    padding: 10px;
    border: 1px solid black;
}

.sub-div {
    background-color: red;
    border: 1px solid black;
    margin: 10px;
    height: 100px;
    width: 100px;
}